/*
-   Project-2 "GUPT"
-   Designed | Developed by Mayank & HRitik
-   Copyright by Mayank( https://github.com/MayankDevil/ ) & HRitik ( https://github.com/Hritikkumar975/ )
-   CSS : ./css/style.css
*/
*
{
	user-select: none;
	margin:0;
	padding:0;
	color:var(--black);
	text-decoration: none;
	font-family:SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-family:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji";
	border:none;
	outline: none;
	border: none;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

@import "bootstrap-icons.min.css";

:root
{
    --white:#ffffff;
    --black:#000000;
    --dark:#343a40;
    --light:#f8f9fa;
    --gray:#6c757d;
	--shade:#dff9fb;
    --primary:#dc3545;
    --secondary:#c23616;
}

::-webkit-scrollbar
{
	width: 10px;
	background: var(--black);
}
::-webkit-scrollbar-thumb
{
	background: linear-gradient(to top, var(--secondary),var(--primary));
}
::selection
{
	background: transparent;
}
::placeholder
{
    color:var(--primary);
}

/*
	body css --------------------------
*/
.container
{
	max-width: 1000px;
	margin: 0 auto;
}
.side-clip
{
	height: 100vh;
	width: 100vw;
	position: absolute;
	clip-path: ellipse(15% 25% at 90% 0%);
	background: linear-gradient(180deg,var(--secondary),var(--black));
}
h1
{
	padding: 2rem 1rem;
	font-size:5rem;
	font-weight:bolder;
	color:var(--secondary);
	text-shadow: 1px 5px 10px var(--dark);
}
h3
{
	padding: 1rem;
	font-size: xx-large;
	font-weight: normal;
	color: var(--gray);
}
h5
{
	font-weight: bold;
	font-size: 1rem;
	letter-spacing: 1px;
	word-spacing: 5px;
	color: var(--dark);
}
h6
{
	margin:1rem auto;
	padding: 1rem;
	font-weight: normal;
	font-size: large;
	line-height: 2rem;
	color: var(--black);
}
/*
	header css ------------------------
*/
#header
{
	/* background: rgba(255,255,255,0.9) url('../data/') no-repeat; */
	background-size: cover;
	background-blend-mode: overlay;
}
#header .container .row
{
	min-height: 100vh;
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 1fr;
}
#download_btn
{
	display: inline-block;
	margin: 1rem;
	padding: 1rem 2rem;
	font-weight: bold;
	color: var(--light);
	background: var(--secondary);
	border-radius: 10px;
}
#download_btn:hover
{
	border-radius: 0px;
	box-shadow: 5px 5px 10px var(--gray);
}
.btn
{
	display: block;
	margin: 1rem;
	font-size: 1rem;
	padding: 1rem;
	color: var(--dark);
	background: transparent;
}
.btn::before
{
	content: '';
	margin-left: -2.6rem;
	margin-right: 2rem;
	padding: 1px 10px;
	background: var(--primary);
	border-radius: 10px;
}
.btn:hover
{
	color: var(--black);
	text-shadow:1px 2px 3px var(--gray);
}
#aside
{
	width: 80%;
	margin: auto;
	padding: 1rem 0;
	border-left: 1px solid var(--black);
}
/*
	main css ------------------------
*/
.fld
{
	width: 100%;
	padding: 1rem;
	font-size: 1rem;
	letter-spacing: 1px;
	color: var(--secondary);
	background: var(--light);
	border:1px solid var(--gray);
	border-radius: 10px;
	box-shadow: 1px 2px 5px var(--gray);
}
section
{
	display: none;
}

section :is(#secure_password_btn,#unique_password_btn)
{
	display: inline-block;
	padding: 1rem 2rem;
	font-size: 1rem;
	background: var(--primary);
	border-radius: 10px;
}

section :is(#secure_password_btn,#unique_password_btn):hover
{
	border-radius: 0px;
	box-shadow: 5px 5px 10px var(--gray);
}

#secure_alert
{
	padding: 1rem;
	font-weight: bold;
	font-size: 1rem;
}
.isValid
{
	max-width: 500px;
	margin: 1rem auto;
	padding: 1rem;
	color: #155724;
	background-color: #d4edda;
	border-color: #c3e6cb;
	border-radius: 10px;
}
.isUnvalid
{
	max-width: 500px;
	margin: 1rem auto;
	padding: 1rem;
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
	border-radius: 10px;
}
/*
	footer css -------------------------------------
*/
#footer
{
	position: fixed;
	z-index: 10px;
	top:0;
	right:0;
	height: 100vh;
	padding: 3rem 1rem;
	writing-mode:sideways-lr;
	background: var(--light);
}
#footer a
{
	font-size: large;
	color: var(--black);
	word-spacing: 5px;
}
/*
    the end ========================================
*/